<%#

    NAME: Block
    PARAMETERS:
      title: String
      type: String:image, pseudolink
      links: Array:Images, Pseudolinks
%>
<article class="clearfix mw-16rem mw-35rem-ns mh-auto mb-5rem mb-8rem-ns">
  <header class="f-left-ns w-50p-ns mb-2rem">
    <h1 class="ma-0 mb-1rem ff-source_sans_pro fw-bold fs-1_2rem lh-1_4  c-coal"><%= title %></h1>
    <span class="d-block w-45px h-3px bgc-coal"></span>
  </header>
  <ul class="clearfix p-relative-ns f-left-ns t-3px-ns w-50p-ns ma-0 pa-0">
    <%# CONFIG %>
    <% total_links = links.length - 1 %>
    <%# END %>
    <% links.each_with_index do |link, _index| %>
      <%# CONFIG %>
      <% if _index % 2 == 0 %>
        <% padding = "pr-0_5rem" %>
      <% else %>
        <% padding = "pl-0_5rem" %>
      <% end %>
      <% if _index < total_links - 1 %>
        <% logo_margin = "mb-1rem" %>
        <% link_margin = "mb-0_5rem" %>
      <% else %>
        <% logo_margin = "" %>
        <% link_margin = "" %>
      <% end %>
      <%# END %>
      <% if type === "logo" %>
        <li class="d-block f-left w-50p <%= logo_margin %> <%= padding %> lst-none bgc-coal" style="height: 4rem;"><a></a></li>
      <% elsif type === "link" %>
        <li class="d-block f-left w-50p lst-none">
          <a class="d-inline_block <%= link_margin %> ff-source_sans_pro fw-regular fs-1_2rem td-none c-coal ttf-ease_in_out td-0_15s tp-color" href="<%= link.target %>" <% if link.target %>target="_blank"<% end %> data-interaction="pseudo"><%= link.title %></a>
        </li>
      <% end %>
    <% end %>
  </ul>
</article>
