<%#

    NAME: Card
    PARAMETERS:
      _index: Int
      title: String
      image: Image
      project: String
      description: String

%>
<article class="mb-8rem">
  <header class="clearfix mb-1rem">
    <h1 class="ma-0 ff-source_sans_pro fw-bold fs-1_2rem c-coal"><span class="mr-1rem c-aluminum"><%= "0#{ _index }" %></span><a data-interaction="link" class="c-coal td-none ttf-ease_in_out td-0_15s tp-color" href="/case-studies/<%= title.parameterize %>"><%= title %></a></h1>
  </header>
  <a class="d-block" href="/case-studies/<%= title.parameterize %>"><img class="w-100p mb-1rem" src="<%= image.src %>" alt="<%= image.alt %>"></a>
  <h2 class="ma-0 mb-0_4rem ff-source_sans_pro fw-bold fs-1rem c-coal"><%= project %></h2>
  <p class="ma-0 ff-source_sans_pro fw-regular fs-1rem lh-1_5 c-coal"><%= description %></p>
</article>
