<%#

    NAME: Card
    PARAMETERS:
      _index: Int
      title: String
      image: Image
      project: String
      description: String

%>
<article class="mb-5rem mb-10rem-ns">
  <a data-interaction="card" class="d-block p-relative" href="/case-studies/<%= title.parameterize %>">
    <span data-hover="index" class="d-inline_block-ns p-absolute t-1rem zi-2 l-2rem to-top-right t-caption ttf-ease_in_out td-0_15s tp-color ff-source_sans_pro fw-bold fs-1_2rem c-light_gray"><%= "0#{ _index }" %></span>
    <img class="w-100p mb-1rem mb-3rem-ns" src="<%= image.src %>" alt="<%= image.alt %>">
  </a>
  <h2 class="ma-0 mb-0_4rem ff-source_sans_pro fw-bold fs-1_2rem c-coal"><%= title %></h2>
  <p class="ma-0 ff-source_sans_pro fw-regular fs-1rem lh-1_5 c-coal"><%= description %></p>
</article>
