<%#

    NAME: Double-Column Paragraph
    PARAMETERS:
      type: Enum:String
            - Centered
            - Right
      title: String
      link?: Pseudolink
      first_column: String
      second_column: String

%>
<%# CONFIG %>
<%# COMMENT: Conditional section max width %>
<% if type === "Centered" %>
  <% max_width = "mw-50rem" %>
<% elsif type === "Right" %>
  <% max_width = "mw-56rem" %>
<% end %>
<%# Comment: Conditional top margin if component is first component within content list %>
<% if _first %>
  <% margin_top = "mt-5rem mt-0-ns" %>
<% else %>
  <% margin_top = "" %>
<% end %>
<%# Comment: Conditional bottom margin if component is last component within content list %>
<% if _last %>
  <% margin_bottom = "mb-2rem" %>
<% else %>
  <% margin_bottom = "mb-5rem" %>
<% end %>
<%# End %>
<%# END %>
<section class="clearfix <%= max_width %> mh-3rem-m mh-auto-l <%= margin_top %> <%= margin_bottom %> mb-8rem-ns ph-1_5rem ph-0-ns">
  <% if type == "Right" %>
    <div class="f-right-ns mw-50rem">
  <% end %>
      <header class="mb-1rem">
        <h1 class="ma-0 ff-source_sans_pro fw-bold fs-1_2rem c-coal"><%= title %></h1>
      </header>
      <div class="clearfix">
        <p class="f-left-ns w-50p-ns ma-0 mb-2rem mb-0-ns pr-0 pr-0_5rem-ns ff-source_sans_pro fw-regular fs-1rem c-coal lh-1_5"><%= first_column %></p>
        <p class="f-right-ns w-50p-ns ma-0 pl-0 pl-0_5rem-ns ff-source_sans_pro fw-regular fs-1rem c-coal lh-1_5">
          <%= second_column %>
          <% if link != false %>
            <a class="d-block mt-1rem ff-source_sans_pro fw-semi_bold fs-1rem c-coal td-none" href="<%= link.href %>" <% if link.target %>target="_blank"<% end %>><%= link.title %><svg data-interaction="arrow" class="d-inline_block w-25px h-10px ml-1_25rem f-coal ttf-ease_in_out td-0_15s tp-fill" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.98 5.66">
              <title>Navigation Arrow: Next Case Study</title>
              <rect y="2.33" width="14" height="1"/>
              <rect x="11.36" y="1.38" width="4" height="1" transform="translate(5.09 -9) rotate(45)"/>
              <rect x="11.36" y="3.5" width="4" height="1" transform="translate(0.94 10.51) rotate(-45)"/>
            </svg></a>
          <% end %>
        </p>
      </div>
  <% if type == "Right" %>
    </div>
  <% end %>
</section>
