<%#
    NAME: Footer
    PARAMETERS:
      copyright: String
      social: Array:Pseudolink
%>
<footer class="p-relative clearfix w-100p bgc-tan">
  <div class="p-absolute clearfix w-100p h-145px-ns">
    <div class="f-left w-50p h-100p bgc-tan"></div>
    <div class="f-left w-50p h-100p bgc-coal"></div>
  </div>
  <div class="d-block-ns d-flex ai-center jc-space_between p-relative zi-2 clearfix w-100p mw-56rem mh-auto pv-3rem pr-0-ns pl-6rem-ns bgc-coal">
    <%# copyright %>
    <p class="f-left-ns ma-0 ff-source_sans_pro fw-regular fs-0_8rem c-white"><%= copyright %> <span data-copyright="year"></span></p>
    <%# social %>
    <ul class="f-right-ns clearfix ma-0 pa-0 lst-none">
      <%# CONFIG %>
      <%# COMMENT: Link index %>
      <% index = 0 %>
      <%# END %>
      <% social.each do |link| %>
        <%# CONFIG %>
        <% if index === 2 %>
          <% margin_bottom = "" %>
        <% else %>
          <% margin_bottom = "mb-0_2rem" %>
        <% end %>
        <%# END %>
        <%# Link %>
        <% if index === 0 %>
          <div class="f-right ml-2_5rem">
        <% end %>
            <li>
              <% if !link.href && !link.target %>
                <p class="<%= margin_bottom %> ff-source_sans_pro fw-regular fs-0_8rem c-white td-none"><%= link.title %></p>
              <% else %>
                <a class="d-inline_block <%= margin_bottom %> ff-source_sans_pro fw-regular fs-0_8rem c-white td-none" href="<%= link.href %>" <% if link.target %>target="_blank"<% end %>><%= link.title %></a>
              <% end %>
            </li>
        <% if index === 2 %>
          </div>
        <% end %>
        <%# CONFIG %>
        <%# COMMENT: Updates/resets index based on value %>
        <% if index < 2 %>
          <% index = index + 1 %>
        <% else %>
          <% index = 0 %>
        <% end %>
        <%# END %>
      <% end %>
    </ul>
  </div>
</footer>
