<%#

    NAME: Image Stack
    PARAMETERS:
      top_image: Image
      bottom_image: Image

%>
<%# Config %>
<%# Comment: Conditional top margin if component is first component within content list %>
<% if _first %>
  <% margin_top = "mt-5rem mt-0-ns" %>
<% else %>
  <% margin_top = "" %>
<% end %>
<%# End %>
<section class="p-relative mw-56rem h-15rem h-35rem-ns mh-1_5rem mh-auto-ns <%= margin_top %> mb-8rem">
  <%# top_image %>
  <figure class="p-absolute b-0 l-0 zi-2 ma-0">
    <img class="d-block w-250px w-578px-ns" src="<%= top.src %>" alt="<%= top.alt %>">
  </figure>
  <%# bottom_image %>
  <figure class="p-absolute t-0 r-0 ma-0">
    <img class="d-block w-185px w-468px-ns" src="<%= bottom.src %>" alt="<%= bottom.alt %>">
  </figure>
</section>
