<%#

  NAME: Image Gallery
  PARAMETERS:
    images: Array:Image

%>
<%# Config %>
<%# Comment: Conditional top margin if component is first component within content list %>
<% if _first %>
  <% margin_top = "mt-5rem mt-0-ns" %>
<% else %>
  <% margin_top = "" %>
<% end %>
<%# Comment: Conditional bottom margin if component is last component within content list %>
<% if _last %>
  <% margin_bottom = "mb-2rem" %>
<% else %>
  <% margin_bottom = "mb-5rem" %>
<% end %>
<%# END %>
<section class="clearfix mw-50rem mh-auto <%= margin_top %> <%= margin_bottom %> mb-8rem-ns ph-1_5rem ph-0-ns">
  <%# CONFIG %>
  <%# COMMENT: Total number of images (index-base) %>
  <% total = images.length - 1 %>
  <%# END %>
  <%# Left Column %>
  <% images.each_with_index do |image, index| %>
    <%# CONFIG %>
    <%# COMMENT: Conditional bottom margin %>
    <% if index != total - 1 %>
      <% margin_bottom = "mb-4rem" %>
    <% else %>
      <% margin_bottom = "" %>
    <% end %>
    <%# END %>
    <% if index % 2 === 0 %>
      <% if index === 0 %>
        <div class="f-left w-50p pr-0_5rem pr-2rem-ns">
      <% end %>
          <figure class="ma-0 <%= margin_bottom %>">
            <img class="d-block w-100p" src="<%= image.src %>" alt="<%= image.alt %>">
          </figure>
      <% if index === total - 1 %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <%# Right Column %>
  <% images.each_with_index do |image, index| %>
    <%# CONFIG %>
    <%# COMMENT: Conditional bottom margin %>
    <% if index != total %>
      <% margin_bottom = "mb-4rem" %>
    <% else %>
      <% margin_bottom = "" %>
    <% end %>
    <%# END %>
    <% if index % 2 != 0 %>
      <% if index === 1 %>
        <div class="f-right w-50p mt-4rem pl-0_5rem pl-2rem-ns">
      <% end %>
        <figure class="ma-0 <%= margin_bottom %>">
          <img class="d-block w-100p" src="<%= image.src %>" alt="<%= image.alt %>">
        </figure>
      <% if index === total %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</section>
