<%#

  NAME: Quote
  PARAMETERS:
    quote: String
    author: Object?
      image: Image
      name: String
      company: String

%>
<%# Config %>
<%# Comment: Conditional top margin if component is first component within content list %>
<% if _first %>
  <% margin_top = "mt-5rem mt-0-ns" %>
<% else %>
  <% margin_top = "" %>
<% end %>
<%# Comment: Conditional bottom margin if component is last component within content list %>
<% if _last %>
  <% margin_bottom = "mb-2rem" %>
<% else %>
  <% margin_bottom = "mb-5rem" %>
<% end %>
<%# End %>
<section class="mw-35rem mh-auto <%= margin_top %> <%= margin_bottom %> mb-8rem-ns ph-1_5rem ph-0-ns">
  <p class="p-relative ma-0 mb-1rem ff-source_sans_pro fw-regular lh-1_5 fs-1_5rem c-coal"><span class="p-absolute l--0_65rem">"</span><%= quote %>"</p>
  <% if author %>
    <div>
      <img class="d-inline_block w-1_5rem h-1_5rem mr-0_5rem br-50p" src="<%= author.image.src %>" alt="<%= author.image.alt %>">
      <p class="p-relative b-0_6rem d-inline_block ma-0 va-middle ff-source_sans_pro fw-regular fs-1rem"><%= author.name %>, <%= author.description %></p>
    </div>
  <% end %>
</section>
