<!doctype html>
<html class="wfs-antialiased fs-15px h-100p ox-hidden oy-auto" lang="en">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <%# CONFIG %>
    <% if locals[:article] %>
      <%# COMMENT: Storing `data/sections/home.json` data %>
      <% article = locals[:article] %>
      <%# COMMENT: Storing article meta-data %>
      <% meta = article._meta %>
    <% else %>
      <%# COMMENT: Storing page meta-data %>
      <% meta = data.sections.home._meta %>
    <% end %>
    <%# END %>
    <%# Meta: Tags %>
    <%= partial("meta/tags", :locals => {
          :title => meta.title,
          :description => meta.description,
          :keywords => meta.keywords
    }) %>
    <%# Meta: Favicons %>
    <%= partial("meta/favicons") %>
    <%# Meta: Social Cards %>
    <%= partial("meta/social") %>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700" rel="stylesheet">
    <%= stylesheet_link_tag "normalize" %>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body class="p-relative h-100p ma-0 bgc-white">
    <%# CONFIG %>
    <%# COMMENT: Storing `data/global/nav.json` data %>
    <% nav = data.global.nav %>
    <%# COMMENT: Storing `data/global/footer.json` data %>
    <% footer = data.global.footer %>
    <%# END %>
    <%# Component: Nav %>
    <%= partial("components/nav", :locals => {
        :image => nav.image,
        :links => nav.links,
        :contact => nav.contact
    }) %>
    <%= yield %>
    <%# Component: Footer New %>
    <%= partial("components/footer_new", :locals => {
          :copyright => footer.copyright,
          :image => footer.blog.image,
          :logo => footer.blog.logo,
          :text => footer.blog.text,
          :link => footer.blog.link,
          :social => footer.social
    }) %>
    <%= javascript_include_tag "site" %>
  </body>
</html>
