<%# CONFIG %>
<%# COMMENT: Storing `data/global/nav.json` data %>
<% nav = data.global.nav %>
<%# COMMENT: Storing `data/global/footer.json` data %>
<% footer = data.global.footer %>
<%# COMMENT: Storing `data/sections/about.json` data %>
<% page = data.sections.about %>
<%# END %>
<%# Component: Nav %>
<%= partial("components/global/nav", :locals => {
      :image => nav.image,
      :links => nav.links,
      :contact => nav.contact
}) %>
<main>
  <article>
    <%# List: Content Components %>
    <% page.content.each_with_index do |component, index| %>
      <%# Component: Image %>
      <% if component.type === "Image" %>
        <%= partial("components/content/image", :locals => {
              :src => component.image.src,
              :alt => component.image.alt,
              :caption => component.image.caption
        }) %>
      <% end %>
      <%# Component: Image Gallery %>
      <% if component.type === "Image Gallery" %>
        <%= partial("components/content/image_gallery", :locals => {
              :images => component.images
        }) %>
      <% end %>
      <%# Component: Image Stack %>
      <% if component.type === "Image Stack" %>
        <%= partial("components/content/image_stack", :locals => {
              :top => component.images.top,
              :bottom => component.images.bottom
        }) %>
      <% end %>
      <%# Component: Double-Column Paragraph %>
      <% if component.type === "Double-Column Paragraph" %>
        <%= partial("components/content/double_column_paragraph", :locals => {
              :type => component.paragraph.type,
              :title => component.paragraph.title,
              :first_column => component.paragraph.first_column,
              :second_column => component.paragraph.second_column
        }) %>
      <% end %>
      <%# Component: Quote %>
      <% if component.type === "Quote" %>
        <%= partial("components/content/quote", :locals => {
              :quote => component.quote.text,
              :author => component.quote.author
        }) %>
      <% end %>
    <% end %>
  </article>
</main>
<%# Component: Footer %>
<%= partial("components/global/footer", :locals => {
      :copyright => footer.copyright,
      :social => footer.social
}) %>
