<%# CONFIG %>
<%# COMMENT: Storing `data/sections/home.json` data %>
<% page = data.sections.about %>
<%# END %>
<main>
  <article>
    <%# List: Content Components %>
    <% page.content.each_with_index do |component, index| %>
      <%# Component: Image %>
      <% if component.type === "Image" %>
        <%= partial("components/image", :locals => {
              :src => component.image.src,
              :alt => component.image.alt,
              :caption => component.image.caption
        }) %>
      <% end %>
      <%# Component: Image Gallery %>
      <% if component.type === "Image Gallery" %>
        <%= partial("components/image_gallery", :locals => {
              :images => component.images
        }) %>
      <% end %>
      <%# Component: Image Stack %>
      <% if component.type === "Image Stack" %>
        <%= partial("components/image_stack", :locals => {
              :top => component.images.top,
              :bottom => component.images.bottom
        }) %>
      <% end %>
      <%# Component: Double-Column Paragraph %>
      <% if component.type === "Double-Column Paragraph" %>
        <%= partial("components/double_column_paragraph", :locals => {
              :type => component.paragraph.type,
              :title => component.paragraph.title,
              :first_column => component.paragraph.first_column,
              :second_column => component.paragraph.second_column
        }) %>
      <% end %>
      <%# Component: Quote %>
      <% if component.type === "Quote" %>
        <%= partial("components/quote", :locals => {
              :quote => component.quote.text,
              :author => component.quote.author
        }) %>
      <% end %>
    <% end %>
  </article>
</main>
