<%# CONFIG %>
<%# COMMENT: Storing `data/global/nav.json` data %>
<% nav = data.global.nav %>
<%# COMMENT: Storing `data/global/footer.json` data %>
<% footer = data.global.footer %>
<%# COMMENT: Storing `data/sections/about.json` data %>
<% page = data.sections.about %>
<%# END %>
<%# Component: Nav %>
<%= partial("components/nav", :locals => {
      :image => nav.image,
      :links => nav.links,
      :contact => nav.contact
}) %>
<main>
  <%# Component: Image %>
  <%= partial("components/image", :locals => {
        :src => page.hero.src,
        :alt => page.hero.alt,
        :caption => ""
  }) %>
  <%# Component: Two-Column Paragraph %>
  <%= partial("components/two_column_paragraph", :locals => {
        :index => "01",
        :title => page.first_section.title,
        :first_column => page.first_section.first_column,
        :second_column => page.first_section.second_column
  }) %>
  <%# Component: Image Stack %>
  <%= partial("components/image_stack", :locals => {
        :top_image => page.gallery.top_image,
        :bottom_image => page.gallery.bottom_image
  }) %>
  <%# Component: Two-Column Paragraph %>
  <%= partial("components/two_column_paragraph", :locals => {
        :index => "02",
        :title => page.second_section.title,
        :first_column => page.second_section.first_column,
        :second_column => page.second_section.second_column
  }) %>
</main>
<%# Component: Footer %>
<%= partial("components/footer", :locals => {
      :copyright => footer.copyright,
      :social => footer.social
}) %>
