<%# CONFIG %>
<%# COMMENT: Layout variable to determine template type %>
<% $case_study = true %>
<%# COMMENT: Define next and previous articles based on current article's index %>
<% neighbor_articles = fetch_neighbors(article._index) %>
<% previous_article = neighbor_articles[0] %>
<% next_article = neighbor_articles[1] %>
<%# END %>
<main>
  <%# List: Content Components %>
  <%# Config %>
  <%# Number of content components within content list %>
  <% list_length = article.content.length - 1 %>
  <%# End %>
  <article>
    <%# Component: Header %>
    <%= partial("components/header", :locals => {
          :title => article.title,
          :subtitle => article.header.title,
          :text => article.header.text
    }) %>
    <%# List: Content Components %>
    <% article.content.each_with_index do |component, index| %>
      <%# Comment: Defines whether component is first element within component content list %>
      <% if index === 0 %>
        <% _first = true %>
        <% _last = false %>
      <% elsif index === list_length %>
        <% _first = false %>
        <% _last = true %>
      <% else %>
        <% _first = false %>
        <% _last = false %>
      <% end %>
      <%# End %>
      <%# Component: Image %>
      <% if component.type === "Image" %>
        <%= partial("components/image", :locals => {
              :src => component.image.src,
              :alt => component.image.alt,
              :caption => component.image.caption,
              :_first => false,
              :_last => _last
        }) %>
      <% end %>
      <%# Component: Image Gallery %>
      <% if component.type === "Image Gallery" %>
        <%= partial("components/image_gallery", :locals => {
              :images => component.images,
              :_first => false,
              :_last => _last
        }) %>
      <% end %>
      <%# Component: Image Stack %>
      <% if component.type === "Image Stack" %>
        <%= partial("components/image_stack", :locals => {
              :top => component.images.top,
              :bottom => component.images.bottom,
              :_first => false,
              :_last => _last
        }) %>
      <% end %>
      <%# Component: Double-Column Paragraph %>
      <% if component.type === "Double-Column Paragraph" %>
        <%= partial("components/double_column_paragraph", :locals => {
              :type => component.paragraph.type,
              :title => component.paragraph.title,
              :link => component.paragraph.link,
              :first_column => component.paragraph.first_column,
              :second_column => component.paragraph.second_column,
              :_first => false,
              :_last => _last
        }) %>
      <% end %>
      <%# Component: Quote %>
      <% if component.type === "Quote" %>
        <%= partial("components/quote", :locals => {
              :quote => component.quote.text,
              :author => component.quote.author,
              :_first => false,
              :_last => _last
        }) %>
      <% end %>
    <% end %>
  </article>
  <%# Component: Controller %>
  <%= partial("components/controller", :locals => {
        :previous_article => previous_article.title,
        :next_article => next_article.title
  }) %>
</main>
