<%# CONFIG %>
<%# COMMENT: Storing `data/global/nav.json` data %>
<% nav = data.global.nav %>
<%# COMMENT: Storing `data/global/footer.json` data %>
<% footer = data.global.footer %>
<%# COMMENT: Storing `data/sections/home.json` data %>
<% article = locals[:article] %>
<%# END %>
<%# Component: Nav %>
<%= partial("components/global/nav", :locals => {
      :image => nav.image,
      :links => nav.links,
      :contact => nav.contact
}) %>
<main>
  <article>
    <%# Component: Header %>
    <%= partial("components/content/header", :locals => {
          :title => article.title,
          :subtitle => article.header.title,
          :text => article.header.text
    }) %>
    <%# CONFIG %>
    <%# COMMENT: Total number of components (index-base) %>
    <% total = article.content.length - 1 %>
    <%# END %>
    <%# List: Content Components %>
    <% article.content.each_with_index do |component, index| %>
      <%# CONFIG %>
      <%# COMMENT: Conditional bottom margin %>
      <% if index === total %>
        <% margin_bottom = "mb-4rem" %>
      <% else %>
        <% margin_bottom = "mb-8rem" %>
      <% end %>
      <%# END %>
      <%# Component: Image %>
      <% if component.type === "Image" %>
        <%= partial("components/content/image", :locals => {
              :margin => margin_bottom,
              :src => component.image.src,
              :alt => component.image.alt,
              :caption => component.image.caption
        }) %>
      <% end %>
      <%# Component: Image Gallery %>
      <%# Component: Double-Column Paragraph %>
      <% if component.type === "Double-Column Paragraph" %>
        <%= partial("components/content/double_column_paragraph", :locals => {
              :type => component.paragraph.type,
              :title => component.paragraph.title,
              :first_column => component.paragraph.first_column,
              :second_column => component.paragraph.second_column
        }) %>
      <% end %>
      <%# Component: Quote %>
      <% if component.type === "Quote" %>
        <%= partial("components/content/quote", :locals => {
              :quote => component.quote.text,
              :author => component.quote.author
        }) %>
      <% end %>
    <% end %>
  </article>
</main>
<%# Component: Footer %>
<%= partial("components/global/footer", :locals => {
      :copyright => footer.copyright,
      :social => footer.social
}) %>
