<%# CONFIG %>
<%# COMMENT: Storing `data/global/nav.json` data %>
<% nav = data.global.nav %>
<%# COMMENT: Storing `data/global/footer.json` data %>
<% footer = data.global.footer %>
<%# COMMENT: Storing `data/sections/home.json` data %>
<% page = data.sections.home %>
<%# COMMENT: Article index %>
<% article_index = 1 %>
<%# END %>
<%# Component: Nav %>
<%= partial("components/global/nav", :locals => {
      :image => nav.image,
      :links => nav.links,
      :contact => nav.contact
}) %>
<main>
  <section>
    <%# Component: Hero %>
    <%= partial("components/hero", :locals => {
          :heading => page.hero.heading,
          :portrait => page.hero.image
    }) %>
    <%# Component: Caption %>
    <%= partial("components/caption", :locals => {
          :text => page.caption
    }) %>
    <%# List: Blocks %>
    <div class="clearfix mw-42_125rem mh-auto mb-8_125rem">
      <% page.blocks.each_with_index do |block, index| %>
        <%# Component: Block %>
        <%= partial("components/block", :locals => {
              :_index => index,
              :title => block.title,
              :type => block.type,
              :links => block.links
        }) %>
      <% end %>
    </div>
    <%# List: Cards %>
    <div class="clearfix mw-52_75rem mh-auto">
      <%# CONFIG %>
      <%# COMMENT: Card index %>
      <% index = 0 %>
      <%# COMMENT: Total number of case studies %>
      <% total_cards = data.case_studies.length - 1 %>
      <%# END %>
      <% data.case_studies.each do |id, card| %>
        <% if index % 2 === 0 %>
          <div class="f-left w-50percent pr-2_9375rem">
            <%# Component: Card %>
            <%= partial("components/card", :locals => {
                  :_index => article_index,
                  :title => card.title,
                  :image => card.card.image,
                  :project => card.card.title,
                  :description => card.card.description
            }) %>
          </div>
        <% else %>
          <div class="f-right w-50percent <% if index === 1 %>mt-8_75rem<% end %> pl-2_9375rem">
            <%# Component: Card %>
            <%= partial("components/card", :locals => {
                  :_index => article_index,
                  :title => card.title,
                  :image => card.card.image,
                  :project => card.card.title,
                  :description => card.card.description
            }) %>
          </div>
        <% end %>
        <%# CONFIG %>
        <%# COMMENT: Increment index %>
        <% index = index + 1 %>
        <% article_index = article_index + 1 %>
        <%# END %>
      <% end %>
    </div>
  </section>
</main>
<%# Component: Footer %>
<%= partial("components/global/footer", :locals => {
      :copyright => footer.copyright,
      :social => footer.social
}) %>
