<%# CONFIG %>
<%# COMMENT: Storing `data/sections/home.json` data %>
<% page = data.sections.home %>
<%# COMMENT: Article index %>
<% article_index = 1 %>
<%# COMMENT: Total number of case studies %>
<% total = data.case_studies.length %>
<%# COMMENT: List of ordered case studies %>
<% case_studies = [] %>
<%# COMMENT: Fetch and push case studies into list %>
<% (1..total).each do |index| %>
  <% case_studies.push(fetch_article(index)) %>
<% end %>
<%# END %>
<main>
  <article>
    <%# Component: Hero %>
    <%= partial("components/hero", :locals => {
          :heading => page.hero.heading,
          :portrait => page.hero.image
    }) %>
    <%# Component: Caption %>
    <%= partial("components/caption", :locals => {
          :text => page.caption
    }) %>
    <%# List: Blocks %>
    <div class="clearfix mw-16rem mw-35rem-ns mh-auto mb-3rem mb-5rem-m mb-8rem-l">
      <% page.blocks.each_with_index do |block, index| %>
        <%# Component: Block %>
        <%= partial("components/block", :locals => {
              :_index => index,
              :title => block.title,
              :type => block.type,
              :note => block.note,
              :links => block.links
        }) %>
      <% end %>
    </div>
    <%# List: Cards %>
    <div class="clearfix mw-56rem mh-3rem-m mh-auto-l ph-1_5rem ph-0-ns">
      <% case_studies.each_with_index do |card, index| %>
        <% if index % 2 === 0 %>
          <div class="f-left w-50p-ns pr-2rem-ns">
            <%# Component: Card %>
            <%= partial("components/card", :locals => {
                  :_index => card._index,
                  :title => card.title,
                  :image => card.card.image,
                  :project => card.card.title,
                  :description => card.card.description
            }) %>
          </div>
        <% else %>
          <div class="f-right w-50p-ns <% if index === 1 %>mt-8rem-ns<% end %> pl-2rem-ns">
            <%# Component: Card %>
            <%= partial("components/card", :locals => {
                  :_index => card._index,
                  :title => card.title,
                  :image => card.card.image,
                  :project => card.card.title,
                  :description => card.card.description
            }) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </article>
</main>
